//
//  Config.xcconfig
//  Orbot
//
//  Created by Benjamin Erhart on 20.05.20.
//  Copyright © 2022 Guardian Project. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Avoid accidental checkins:
// git update-index --skip-worktree Shared/Config.xcconfig
// git update-index --no-skip-worktree Shared/Config.xcconfig

APP_BUNDLE_ID[config=Debug] = com.jthess.guardianproject.ci.orbot
EXT_BUNDLE_ID[config=Debug] = com.jthess.guardianproject.ci.orbot.ext
CONTENT_BLOCKER_BUNDLE_ID[config=Debug] = com.jthess.guardianproject.ci.orbot.ContentBlocker
APP_GROUP[config=Debug] = group.com.jthess.guardianproject.ci
DEVELOPMENT_TEAM[config=Debug] = 7AERKXM2KD
CODE_SIGN_IDENTITY[config=Debug] =
APP_PROVISIONING_PROFILE_SPECIFIER[config=Debug] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
EXT_PROVISIONING_PROFILE_SPECIFIER[config=Debug] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
CONTENT_BLOCKER_PROVISIONING_PROFILE_SPECIFIER[config=Debug] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
APP_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Debug] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
EXT_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Debug] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004

APP_BUNDLE_ID[config=Release] = com.jthess.guardianproject.ci.orbot
EXT_BUNDLE_ID[config=Release] = com.jthess.guardianproject.ci.orbot.ext
CONTENT_BLOCKER_BUNDLE_ID[config=Release] = com.jthess.guardianproject.ci.orbot.ContentBlocker
APP_GROUP[config=Release] = group.com.jthess.guardianproject.ci.orbot
DEVELOPMENT_TEAM[config=Release] = 7AERKXM2KD
CODE_SIGN_IDENTITY[config=Release] =
APP_PROVISIONING_PROFILE_SPECIFIER[config=Release] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
EXT_PROVISIONING_PROFILE_SPECIFIER[config=Release] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
CONTENT_BLOCKER_PROVISIONING_PROFILE_SPECIFIER[config=Release] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
APP_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Release] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004
EXT_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Release] = 9206eb4f-66a6-4b5c-bb55-48ee1fb08004

MARKETING_VERSION = 1.5.0
CURRENT_PROJECT_VERSION = 27

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) EXT_BUNDLE_ID="$(EXT_BUNDLE_ID)" CONTENT_BLOCKER_BUNDLE_ID="$(CONTENT_BLOCKER_BUNDLE_ID)" APP_GROUP="$(APP_GROUP)"
