<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>at</string>
	<string>au</string>
	<string>be</string>
	<string>bg</string>
	<string>br</string>
	<string>bz</string>
	<string>ca</string>
	<string>ch</string>
	<string>cl</string>
	<string>cr</string>
	<string>cy</string>
	<string>cz</string>
	<string>de</string>
	<string>dk</string>
	<string>ee</string>
	<string>es</string>
	<string>fi</string>
	<string>fr</string>
	<string>gb</string>
	<string>hk</string>
	<string>hr</string>
	<string>hu</string>
	<string>id</string>
	<string>il</string>
	<string>in</string>
	<string>is</string>
	<string>it</string>
	<string>jp</string>
	<string>kr</string>
	<string>kz</string>
	<string>lu</string>
	<string>md</string>
	<string>mx</string>
	<string>my</string>
	<string>nl</string>
	<string>no</string>
	<string>pe</string>
	<string>pl</string>
	<string>pt</string>
	<string>ro</string>
	<string>ru</string>
	<string>sc</string>
	<string>se</string>
	<string>sg</string>
	<string>tr</string>
	<string>tt</string>
	<string>tw</string>
	<string>ua</string>
	<string>us</string>
	<string>vn</string>
	<string>za</string>
</array>
</plist>
